.app-features {
  position: relative;
  padding-top: 78px;
  overflow: hidden;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    border-left: 120vw solid #ffffff;
    border-bottom: 10vw solid transparent;
  }
}

.app-features__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list {
  @include list-reset;

  margin-bottom: 11px;
}

.feature-list__items {
  margin-bottom: 29px;
  text-align: center;
}

.feature-list__header {
  margin: 0 0 8px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.feature-list__text {
  margin: 0;
}

.app-features__wrap {
  align-self: center;
  z-index: 2;
}

.app-features__image-wrap {
  &--state {
    display: none;
  }
}

.app-features__image {
  display: block;
  width: 157px;
  height: 278px;
}

@media (min-width: $table-width) {
  .app-features {
    padding-top: 19px;
  }

  .app-features__grid {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .feature-list {
    width: 310px;
    margin-bottom: 41px;
    padding-top: 68px;
  }

  .feature-list__items {
    margin-bottom: 33px;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .app-features__wrap {
    align-self: flex-end;
  }

  .app-features__image {
    width: 268px;
    height: 483px;
  }
}

@media (min-width: $desktop-width) {
  .app-features {
    padding-top: 59px;
  }

  .app-features__grid {
    flex-direction: column-reverse;
  }

  .app-features__list {
    display: flex;
  }

  .app-features__wrap {
    display: flex;
    justify-content: space-around;
    align-self: stretch;
  }

  .app-features__image-wrap {
    &--state {
      display: block;
    }
  }

  .app-features__image {
    width: 294px;
    height: 302px;
  }

  .feature-list {
    justify-content: space-between;
    width: 100%;
    padding-top: 56px;
  }

  .feature-list__items {
    width: 294px;
    margin-bottom: 0;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    box-sizing: border-box;
  }

  .feature-list__header {
    margin-bottom: 24px;
    font-size: 30px;
  }

  .feature-list__text {
    font-size: 18px;
    line-height: 30px;
  }
}
