@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-regular.woff2"), url("../../fonts/opensans-regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-light.woff2"), url("../../fonts/opensans-light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/opensans-bold.woff2"), url("../../fonts/opensans-bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
