.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 245px;
  padding-top: 40px;
}

.foter-index {
  display: none;
}

.footer-logo {
  margin-bottom: 33px;
}

.footer-logo__link {
  display: block;
}

.footer-social__list {
  @include list-reset;

  display: flex;
  margin-bottom: 38px;
}

.footer-social__items {
  margin-right: 12px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  box-sizing: border-box;

  &:last-child {
    margin-right: 0;
  }
}

.footer-social__item {
  display: block;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}

.footer-social__item--twitter svg {
  width: 18px;
  height: 14px;
  margin-top: 15px;
  margin-left: 13px;
}

.footer-social__item--facebook svg {
  width: 8px;
  height: 18px;
  margin-top: 12px;
  margin-left: 18px;
}

.footer-social__item--youtube svg {
  width: 15px;
  height: 13px;
  margin-top: 16px;
  margin-left: 16px;
}

.footer-dev {
  display: flex;
  align-items: center;
}

.footer-dev__text {
  @include margin-reset;

  margin-right: 15px;
  line-height: 18px;
}

.footer-dev__link {
  display: block;
  width: 27px;
  height: 34px;
}

.footer-dev__link svg {
  width: 27px;
  height: 34px;
}

@media (min-width: $table-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 90px;
    padding-top: 36px;
  }

  .footer-logo {
    margin-right: 75px;
    margin-bottom: 0;
  }

  .footer-logo__link {
    width: 147px;
    height: 40px;
  }

  .footer-social__list {
    margin-right: 92px;
    margin-bottom: 0;
    padding-top: 4px;
  }

  .footer-dev {
    padding-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 70px;
    padding-bottom: 72px;
    min-height: auto;
  }

  .footer-logo {
    margin-right: 239px;
  }

  .footer-social__list {
    margin-right: 223px;
  }

  .footer-dev__text {
    font-size: 18px;
  }
}
