.intro-galerye {
  display: flex;
  align-items: center;
  min-height: 238px;
  background-color: #1d2631;
}

.intro-galerye__head {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

.photo-gareley__wrapper {
  padding-top: 41px;
  padding-bottom: 44px;
}

.photo-gareley__slogan {
  line-height: 30px;
  text-align: center;
}

.panarama-list,
.photo-list {
  @include list-reset;
}

.panarama-list {
  width: 320px;
  margin: 0 auto 20px auto;
}

.photo-list__items {
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.panarama-list__image,
.photo-list__image {
  display: block;
}

.photo-list__text {
  @include margin-reset;

  padding-top: 23px;
  padding-bottom: 14px;

  &--bg-color {
    background-color: #f2f2f2;
  }
}

.photo-list__autor {
  font-weight: bold;
  font-style: normal;
}

.photo-list__date {
  font-weight: 300;
  color: #5e6873;
}

.photo-list__like {
  color: #d22856;
}

.photo-editor__block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.photo-editor__slogan {
  line-height: 30px;
  text-align: center;
}

.photo-editor__bg-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.seting-control__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
}

.send-button__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $table-width) {
  .panarama-list {
    width: 660px;
    margin: 0 auto 20px auto;
  }

  .photo-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photo-list__items {
    display: flex;
    flex-direction: column;
    width: 300px;

    &:nth-child(2n-1) {
      margin-right: 20px;
    }
  }

  .photo-list__image {
    width: 300px;
    height: 300px;
  }

  .photo-editor__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .photo-editor__image {
    width: 300px;
  }

  .seting-control__list {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .panarama-list {
    width: 960px;
    margin: 0 auto 20px auto;
  }

  .photo-list__items {
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .photo-editor__wrapper {
    width: 800px;
  }

  .send-button__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-1200px) {
  .panarama-list {
    width: 1200px;
    margin: 0 auto 20px auto;
  }
}
