.price-list {
  padding: 93px 0 44px 0;
  background-color: #f2f2f2;
}

.price-list__middle {
  width: auto;
  margin: 0 auto;
}

.price-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.price-list__table {
  width: 840px;
  transform: translateX(-70px);
}

.price-table__head {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #283645;
}

.price-table__price {
  font-size: 24px;
  font-weight: 300;
}

.price-table__body {
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
}

@media (min-width: $table-width) {
  .price-list__table {
    width: 620px;
    transform: translateX(0);
  }
}
