.price-list {
  position: relative;
  padding: 91px 0 33px 0;
  overflow: hidden;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    border-left: 110vw solid #ffffff;
    border-bottom: 8vw solid transparent;
  }
}

.price-list__middle {
  width: auto;
  margin: 0 auto;
}

.price-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.price-list__table {
  width: 1110px;
  margin-bottom: 14px;
  transform: translateX(-137px);
  border-collapse: collapse;
}

.price-table__head {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.price-table__head th {
  width: 275px;
  box-sizing: border-box;
}

.price-table__title {
  padding: 18px 0 17px 0;
  text-transform: uppercase;
  background-color: #283645;
  border-right: 2px solid #e5e5e5;

  &:first-child {
    border: none;
  }

  &:last-child {
    border: none;
  }
}

.price-table__title--hidden {
  background-color: transparent;
}

.price-table__price {
  font-size: 24px;
  font-weight: 300;
}

.price-table__body {
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.price-table__body td {
  width: 275px;
  box-sizing: border-box;
}

.price-table__title-text {
  padding: 0 20px 0 20px;
  border: 2px solid #e5e5e5;
}

.price-table__text {
  position: relative;
  padding: 14px 55px 15px 20px;
  border: 2px solid #e5e5e5;

  &:nth-child(2) {
    border-top: none;
  }

  &:nth-child(3) {
    border-top: none;
  }

  &:nth-child(4) {
    border-top: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 18px;
    width: 29px;
    height: 14px;
    transform: rotate(-43deg);
    border-left: 3px solid #3dc644;
    border-bottom: 3px solid #3dc644;
    box-sizing: border-box;
  }
}

.price-table__text--mody {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 31px;
    width: 3px;
    height: 36px;
    border: none;
    background-color: #f25b26;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $table-width) {
  .price-list {
    padding-top: 95px;
    padding-bottom: 53px;
  }

  .price-list__table {
    width: 620px;
    transform: none;
  }

  .price-table__head {
    font-size: 16px;
    line-height: 27px;
  }

  .price-table__head th {
    width: 151px;
  }

  .price-table__title {
    padding: 14px 0 10px 0;
  }

  .price-table__price {
    font-size: 18px;
  }

  .price-table__body {
    font-size: 14px;
    text-transform: none;
  }

  .price-table__body td {
    width: 151px;
  }

  .price-table__title-text {
    padding: 7px 15px 8px 15px;
  }

  .price-table__text {
    padding: 0;

    &::after {
      top: 11px;
      right: 61px;
    }
  }

  .price-table__text--mody {
    &::before,
    &::after {
      top: 4px;
      right: 74px;
    }
  }

  .price-table__text span {
    display: none;
  }

  .price-table__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price-list {
    padding-top: 95px;
    padding-bottom: 80px;
  }

  .price-list__wrapper {
    padding-top: 94px;
  }

  .price-list__table {
    width: 938px;
  }

  .price-table__head {
    line-height: 31px;
  }

  .price-table__title {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  .price-table__price {
    font-size: 24px;
  }

  .price-table__body {
    font-size: 18px;
  }

  .price-table__title-text {
    padding: 14px 5px 15px 20px;
  }

  .price-table__text {
    &::after {
      top: 22px;
      right: 102px;
    }
  }

  .price-table__text--mody {
    &::before,
    &::after {
      top: 10px;
      right: 114px;
    }
  }
}
